<template>
  <q-layout view="lHh LpR lFf">
    <q-header bordered style="border-color: #ddd">
      <q-toolbar class="q-pl-none bg-white text-black">
        <q-btn-dropdown stretch flat unelevated content-class="sections-dropdown" :dense="$q.screen.lt.sm">
        <template v-slot:label>
          <div class="row items-center no-wrap">
          <img src="/statics/app-logo-128x128.png" alt="logo" style="height:3em" />
            <div class="q-ml-sm text-bold text-primary" style="padding-top: 2px">
              {{ $t('pagename') }}
              <div class="subtitle text-black">{{ $t('editions.first') }}</div>
            </div>
          </div>
        </template>
          <MenuSections />
        </q-btn-dropdown>

        <q-btn stretch flat :label="$t('menu.support')" icon="fa fa-thumbs-up" no-caps class="small-icon" :to="{name:'support'}"/>
        <q-btn
          v-if="$q.screen.gt.xs"
          :dense="$q.screen.lt.md"
          type="a"
          href="https://gerechte1komma5.de"
          :label="$t('menu.kampagneLink')"
          target="_blank"
          icon-right="fa fa-external-link-alt"
          no-caps
          stretch
          flat
          class="small-icon" />
        <q-space />
        <LanguageSwitcher />
        <template v-if="isMeasurePage">
          <q-btn type="a" :href="wikiUrl" flat rounded icon="fa fa-edit" no-caps class="small-icon bg-secondary text-black q-ml-sm">
            <q-tooltip>{{ $t('measure.editLink') }}</q-tooltip>
          </q-btn>
          <!-- <q-btn flat icon="fa fa-comments" no-caps class="small-icon bg-secondary q-mx-sm">
            <q-tooltip>Kommentieren</q-tooltip>
          </q-btn> -->
            <q-btn
              flat
              dense
              round
              @click="tocOpen = !tocOpen"
              icon="menu"
              aria-label="Menu"
            >
              <q-tooltip>
                {{ $t('measure.toggleSidebar') }}
              </q-tooltip>
            </q-btn>
        </template>
      </q-toolbar>

    </q-header>

    <q-drawer
      v-if="isMeasurePage"
      v-model="tocOpen"
      show-if-above
      side="right"
      bordered
    >
      <TableOfContents />
      <Comments />
    </q-drawer>

    <q-page-container>
      <router-view />
      <div class="row">
        <div class="col-12 q-my-lg text-center" style="opacity: 0.5">
          <router-link :to="{name:'imprint'}">{{ $t('imprint') }}</router-link>
        </div>
      </div>
    </q-page-container>
  </q-layout>
</template>

<script>
import MenuSections from '../components/MenuSections'
import TableOfContents from '../components/TableOfContents'
import LanguageSwitcher from '../components/LanguageSwitcher'
import Comments from '../components/Comments'
import store from '../data/store'
import { i18n } from '../boot/i18n'

export default {
  components: { MenuSections, TableOfContents, LanguageSwitcher, Comments },

  data () {
    return {
      tocOpen: false
    }
  },
  watch: {
    '$route.params.lang': {
      handler(search) {
        i18n.locale = this.$route.params.lang
      },
      immediate: true
    }
  },
  computed: {
    isMeasurePage() {
      return this.$route.name == 'measure' && store.measureLang
    },
    wikiUrl() {
      if(!this.isMeasurePage) return null
      return `https://wiki.gerechte1komma5.de${store.measureLang.link}`
    }
  }
}
</script>


<style lang="scss">

.subtitle {
  // position: absolute;
  text-transform: initial;
  font-weight: 300;
  font-size: 80%;
  // bottom: 0;
  opacity: 0.9;
  margin-top: -1em;
   text-align: left;
}
.small-icon .q-icon {
  font-size: 1em;
}
@media (max-width: 650px) {
  .q-toolbar .q-btn {
    font-size: 90%;
  }
  .green-bg, .yellow-bg {
    &::before {
      margin-top: -20px;
    }
  }
}
.sections-dropdown {
  // width: 100%;
  max-width: 90% !important;
}
// .sections-dropdown {
//   border: 1px solid #ffeb3b;
//   border-top: none;
//   box-shadow: none;
// }
// .q-drawer--right.q-drawer--bordered {
//   border-left: 1px solid rgba(0, 0, 0, 0.12);
// }
</style>
