/* source: https://github.com/JulietaUla/Montserrat/blob/master./webfonts/Montserrat.css */

/** Montserrat Regular **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: normal;
  src: url("./fonts/Montserrat-Regular.eot");
  src: url("./fonts/Montserrat-Regular.eot?#iefix") format('embedded-opentype'),
       url("./fonts/Montserrat-Regular.woff2") format("woff2"),
       url("./fonts/Montserrat-Regular.woff") format("woff");
}

/** Montserrat Regular-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 400;
  font-style: italic;
  src: url("./fonts/Montserrat-Italic.eot");
  src: url("./fonts/Montserrat-Italic.eot?#iefix") format('embedded-opentype'),
       url("./fonts/Montserrat-Italic.woff2") format("woff2"),
       url("./fonts/Montserrat-Italic.woff") format("woff");
}

/** Montserrat Medium **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: normal;
  src: url("./fonts/Montserrat-Medium.eot");
  src: url("./fonts/Montserrat-Medium.eot?#iefix") format('embedded-opentype'),
       url("./fonts/Montserrat-Medium.woff2") format("woff2"),
       url("./fonts/Montserrat-Medium.woff") format("woff");
}

/** Montserrat Medium-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 500;
  font-style: italic;
  src: url("./fonts/Montserrat-MediumItalic.eot");
  src: url("./fonts/Montserrat-MediumItalic.eot?#iefix") format('embedded-opentype'),
       url("./fonts/Montserrat-MediumItalic.woff2") format("woff2"),
       url("./fonts/Montserrat-MediumItalic.woff") format("woff");
}

/** Montserrat SemiBold **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: normal;
  src: url("./fonts/Montserrat-SemiBold.eot");
  src: url("./fonts/Montserrat-SemiBold.eot?#iefix") format('embedded-opentype'),
       url("./fonts/Montserrat-SemiBold.woff2") format("woff2"),
       url("./fonts/Montserrat-SemiBold.woff") format("woff");
}

/** Montserrat SemiBold-Italic **/
@font-face {
  font-family: "Montserrat";
  font-weight: 600;
  font-style: italic;
  src: url("./fonts/Montserrat-SemiBoldItalic.eot");
  src: url("./fonts/Montserrat-SemiBoldItalic.eot?#iefix") format('embedded-opentype'),
       url("./fonts/Montserrat-SemiBoldItalic.woff2") format("woff2"),
       url("./fonts/Montserrat-SemiBoldItalic.woff") format("woff");
}
