<template>
  <q-page>
    <div class="page container q-px-xl q-mt-xl">
      <h1>Impressum</h1>
										<p>Anbieter*in dieser Website ist der Verein<br />
<em>für gerechten Klimaschutz e.V.</em>,
<br>Thomas-Igl-Straße 27
<br> 47441 Moers</p><p>
Vertreten durch David Adam (Vorstand),
<br>Vereinsregister-Nr 2034 (Amtsgericht Kleve)
<br>E-mail: <a class="wiki" href="mailto:kontakt@fgks.de" rel="">kontakt@fgks.de</a>
</p>

<h4 id="Gestaltung">Gestaltung</h4>
Illustrationen: <a href="https://www.sarah-heuzeroth.de">Sarah Heuzeroth</a><br />
Website: <a href="https://chandi.it">chandi</a><br />



<h4 id="Nutzungsbedingungen">Nutzungsbedingungen</h4>
<p>Sämtliche Inhalte des <em>Klimaplans von unten</em> werden unter den Bedingungen der <a target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/legalcode.de" rel="external">Creative-Commons-Lizenz by-sa-3.0</a><i class="icon icon-link-external fas fa-external-link-alt "></i> veröffentlicht. Eine Zusammenfassung der Lizenzbestimmungen kann <a target="_blank" href="https://creativecommons.org/licenses/by-sa/3.0/deed.de" rel="external">hier</a><i class="icon icon-link-external fas fa-external-link-alt "></i> nachgelesen werden.
</p>

<h4 id="Datenschutz">Datenschutz</h4>
<p>Die Anbieter*in der Website verarbeitet personenbezogene Daten der Nutzer*innen nur unter Einhaltung der einschlägigen Datenschutzbestimmungen entsprechend den Geboten der Datensparsamkeit- und Datenvermeidung. Das bedeutet: die Daten der Nutzer*innen werden nur beim Vorliegen einer gesetzlichen Erlaubnis, insbesondere wenn die Daten zur Erbringung unserer vertraglichen Leistungen sowie Online-Services erforderlich, bzw. gesetzlich vorgeschrieben sind oder beim Vorliegen einer Einwilligung verarbeitet.
</p>

<p>Die Anbieter*in trifft organisatorische, vertragliche und technische Sicherheitsmaßnahmen entsprechend dem Stand der Technik, um sicher zu stellen, dass die Vorschriften der Datenschutzgesetze eingehalten werden und um damit die durch sie*ihn verarbeiteten Daten gegen zufällige oder vorsätzliche Manipulationen, Verlust, Zerstörung oder gegen den Zugriff unberechtigter Personen zu schützen.
</p>

<h4 id="Haftung_f_r_Inhalte">Haftung für&nbsp;Inhalte</h4>
<p>Die am <em>Klimaplan von unten</em> beteiligten Autor*innen sind aufgerufen, alle Inhalte, die sie zu dieser Website beisteuern, nach bestem Wissen zu erstellen. Die Inhalte entstehen gemeinschaftlich, offen und ohne unmittelbare redaktionelle Kontrolle. Werke, die unter dem Verdacht stehen, Urheber-, Verwertungs-, Persönlichkeits- oder sonstige Rechte zu verletzen, unmittelbar ohne Rücksprache jederzeit korrigiert bzw. gelöscht werden. Jede*r Benutzer*in ist für die von ihr*ihm erstellten Beiträge selbst in vollem Umfang verantwortlich. Einen Ausschluss einzelner Benutzer*innen behält sich die Moderation des Klimaplans ausdrücklich vor.
</p>

<p>Auf Grund der offenen Struktur und der häufigen Änderungen der Inhalte ist es möglich, dass unrichtige, unvollständige, veraltete, widersprüchliche, in falschem Zusammenhang stehende oder verkürzte Angaben auftreten. Die Texte des <em>Klimaplans von unten</em> dienen des Weiteren der allgemeinen Bildung und Weiterbildung, nicht der Beratung im Falle individueller Anliegen. Es kann deshalb keine Verantwortung für Schäden übernommen werden, die durch das Vertrauen auf die Inhalte dieser Website oder deren Gebrauch entstehen.
</p>

<p>Die als Administrator*innen oder Moderierende bezeichneten Nutzer*innen des Wikis sind keine offiziellen Vertreter*innen der Website-Anbieter*in, sondern lediglich Nutzer*innen, denen weitergehende technische Möglichkeiten eingeräumt wurden. Insbesondere sind sie nicht persönlich für diese Website – insbesondere nicht im Hinblick auf Richtigkeit, Aktualität und Vollständigkeit der zur Verfügung gestellten Informationen – verantwortlich.
</p>

<h4 id="Hinweis_an_Rechteinhaber">Hinweis an&nbsp;Rechteinhaber</h4>
<p>Die Website-Anbieter*in weist ausdrücklich darauf hin, kein Material zu verwenden, das <a target="_blank" href="https://de.wikipedia.org/wiki/Wikipedia:Urheberrecht" rel="external">Urheberrechten</a><i class="icon icon-link-external fas fa-external-link-alt "></i> Dritter unterliegt. Es kann nicht komplett ausgeschlossen werden, dass von Benutzer*innen unbefugt Material eingebracht wird, das bestehende Schutzrechte verletzt und das nicht sofort als solches erkannt wird. Wenn der Anbieter*In eine entsprechende Urheberrechtsverletzung angezeigt wird, wird das betreffende Material umgehend entfernt.
</p>

<h4 id="Quellen">Quellen</h4>
<p>Dieses Impressum folgt in allen Abschnitten außer "Datenschutz" dem <a target="_blank" href="https://de.wikipedia.org/wiki/Wikipedia:Impressum" rel="external">Impressum der Wikipedia</a><i class="icon icon-link-external fas fa-external-link-alt "></i>, wurde jedoch maßgeblich gekürzt und in den Formulierungen auf die Verwendung durch <em>für gerechten Klimaschutz e.V.</em> angepasst.</p>


    </div>
  </q-page>
</template>
<style lang="scss" scoped>
.page {
    font-weight: 300;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
    i.fas {
      font-size: 80%;
      margin-left: 0.3em;
    }
}
h1 {
  font-size: 2em;
  line-height: 1em;
  font-weight: 400;
  margin-top: 0;
}
h4 {
  font-size: 1.3em;
  margin-bottom: 0;

}
</style>
