<template>
  <q-page>
    <div class="q-mt-xl q-mb-xl row justify-center">
      <div class="col-lg-6 col-md-5 col-sm-7 col-10">
        <div class="text-center">
          <img src="/statics/illustrations/erlawa.png" style="width: 90%" />
        </div>
        <div class="text-center banner q-mt-md">
          <img src="/statics/schriftzug.png" style=""/>
        </div>
        <div class="text-center q-mt-md">
          <q-btn type="a" :href="downloadLink" color="primary" :label="$t('downloadPDF')" icon="fa fa-file-download" no-caps outline />
        </div>
      </div>
    </div>
    <div class="q-mt-xl q-mb-xl row justify-center">
    </div>
    <div class="green-bg q-mt-xl q-mb-xl mirrored row justify-center">
      <div class="col-lg-5 col-md-7 col-sm-9 col-xs-10 col-11 text-center">
        <div class="text-h3 text-bold">{{ $t('sections.preamble.name') }}</div>
        <div class="q-mb-lg">{{ $t('editions.first') }}</div>
      </div>
    </div>
    <div class="row justify-center">
      <div class="col-lg-5 col-md-7 col-sm-9 col-xs-10 col-11 content-text" v-html="html" />
    </div>
    <div class="yellow-bg q-mt-xl q-mb-xl row justify-center text-primary">
      <div class="col-lg-5 col-md-7 col-sm-9 col-xs-10 col-11 text-center">
        <div class="text-h5 text-bold q-mb-lg">{{ $t('theSections') }}</div>
      </div>
    </div>
    <div class="row justify-center">
     <div class="col-lg-6 col-sm-10 col-11">
        <div class="row">
              <q-card v-for="sectionKey of sectionKeys" :key="sectionKey" class="my-card col-md-4 col-6 q-mb-md" flat >
                <router-link :to="{name:'section', params:{ section: $t('sections')[sectionKey].slug}}" style="text-decoration:none">
                  <div class="section-image text-center">
                    <q-img :src="'/statics/illustrations/'+illustrations[sectionKey]" :ratio="1" />
                  </div>

                  <q-card-section class="q-px-none">
                    <div class="text-h6 text-center">{{ $t('sections')[sectionKey].name }}</div>

                  </q-card-section>
                </router-link>
              </q-card>
        </div>
      </div>
      <!-- {{ sectionKeys }} -->
    </div>
  </q-page>
</template>

<script>
import store from '../data/store'
import sectionTexts from '../data/sections.json'
import * as marked from 'marked'
const illustrations = {
    energydemocracy: 'energie.png',
    worapla: 'worapla.png',
    mobility: 'mobility.png',
    erlawa: 'erlawa.png',
    reproko: 'reproko.png',
    glogeint: 'gerechtigkeit.png',
}
const dl = {
  de: 'https://klimaplanvonunten.de/pdf/KlimaplanVonUnten_Auflage_1.pdf',
  en: 'https://klimaplanvonunten.de/pdf/GrassrootsClimatePlan_Edition_1.pdf'
}
export default {
  name: 'PageIndex',
  computed: {
    raw() {
      const langs = sectionTexts.preamble
      return langs[store.lang] || langs['en'] || langs['de'] || ''
    },
    html() {
      return marked(this.raw)
    },
    illustrations() {
      return illustrations
    },
    sectionKeys() {
      return store.sectionKeys
    },
    downloadLink() {
      return dl[store.lang] || dl['en']
    }
  },
  meta() {
    return {
      title: this.$t('pagename'),
      meta: {
        description: { name: 'description', content: 'Wir stehen vor einer der größten Entscheidungen der Menschheit – einer Entscheidung darüber wie wir der Klimakrise begegnen.' },
        keywords: { name: 'keywords', content: 'Klimawandel, Gerechtigkeit, gerechte1komma5' },
        image: { name: 'og:image', content: 'https://klimaplanvonunten.de/statics/illustrations/erlawa.png'},
        imageTwitter: { name: 'twitter:image', content: 'https://klimaplanvonunten.de/statics/illustrations/erlawa.png'}
      },
    }
  }
}
</script>
<style lang="scss" scoped>
h1 {
  font-size: 2em;
  line-height: 1em;
  margin-bottom: 0;
  margin-top: 0;
}
h3 {
font-size: 1.5rem;
line-height: 1.5rem;
padding: 0.5rem 0;
font-weight: 200;
border-bottom: 1px solid
#eee;
margin: 2rem 0 1.5rem;
}
#page-data {
  p {
    font-size: 1rem;
      font-weight: 400;
      line-height: 1.4rem;
      letter-spacing: 0.02em;
  }
  img {
    max-width: 100%;
  }
}


h3 a {
  opacity: 0;
}
h3:hover a {
  opacity: 1;
}

:target:before {
  content:"";
  display:block;
  height:90px; /* fixed header height*/
  margin:-90px 0 0; /* negative fixed header height */
}

.banner {
  img {
    width: 50%;
  }
}
.my-card .text-h6 {
  overflow-wrap: break-word;
  word-wrap: break-word;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  hyphens: auto;
  font-size: 1.2em;
  text-decoration: none;
  @media (max-width: 650px) {
    font-size: 1em;
    line-height: 1.2em;
  }

}

</style>
<style lang="scss">
.section-image > .q-img {

  width: 80%;
  display: inline-block;
  border-radius: 50%;
  // border: 1px solid #eee;

  .q-img__image {
    background-size: 80% !important;
  }
}

</style>
