<template>
  <q-page>
    <div v-if="measure" class="page container q-px-md q-mt-xl">
      <q-banner v-if="languageMissing" rounded class="bg-orange text-white q-mb-md q-pb-none">
        <div v-html="$t('measure.langNotAvailable')" />
      </q-banner>
      <div class="row q-mb-md header">
        <!-- <div class="col-1 text-center q-mt-md">
            <router-link v-if="previous" :to="{name: 'measure', params: {section: section.slug, measure: previous.slug}}">
              <i class="fa fa-chevron-left" style="font-size: 2em" />
              <q-tooltip>{{ previous.title }}</q-tooltip>
            </router-link>
        </div> -->
        <div class="col">
            {{ section.name }}
            <h1>{{ measure.title }}</h1>

        </div>
        <!-- <div class="col-1 text-center q-mt-md">
            <router-link v-if="next" :to="{name: 'measure', params: {section: section.slug, measure: next.slug}}">
              <i class="fa fa-chevron-right" style="font-size: 2em" />
              <q-tooltip>{{ next.title }}</q-tooltip>
            </router-link>
        </div> -->
      </div>
      <div v-if="isLoading">
            <q-spinner-hourglass size="xl" />
      </div>
      <div v-else>
        <div v-html="html" class="content-text"/>
        <div style="opacity: 0.5;text-align:center">
          <img src="/statics/cc0.png" /><br /> {{ $t('measure.license') }} <a href="https://creativecommons.org/publicdomain/zero/1.0/" class="text-black">„CC0 1.0 Universal Public Domain Dedication“</a><br />
        </div>
      </div>
    </div>
    <div v-else class="page container q-px-xl q-mt-xl">
        <q-banner rounded class="bg-orange text-white q-mb-md">
          {{ $t('measure.notFound') }}
        </q-banner>
    </div>
  </q-page>
</template>

<script>

import store from '../data/store'
import * as marked from 'marked'
export default {
  name: 'Measure',
  watch: {
    '$route.params': {
      handler(search) {
        store.setSection(this.$route.params.section, this.$route.params.lang)
        store.setMeasure(this.$route.params.measure, this.$route.params.lang)
      },
      deep: true,
      immediate: true
    },
    '$route.hash': {
      handler(hash) {
        const el = document.getElementById(decodeURIComponent(hash.slice(1)))
        const doc = document.scrollingElement || document.documentElement
        doc.scrollTop = el.offsetTop
        setTimeout( () => {
          doc.scrollTop = el.offsetTop
        }, 10)
      }
    }
  },
  computed: {
    section() {
      return store.section
    },
    previous() {
      return store.previousMeasure
    },
    next() {
      return store.nextMeasure
    },
    measure() {
      return store.measureLang
    },
    isLoading() {
      return store.measureBody === null
    },
    html() {
      marked.setOptions({
        gfm: true,
      })
      let raw = store.measureBody
      if(!raw) return ''

      // replace links to other measures
      raw = raw.replace(/\[([\s\S]*?)\]\((.*?)\)/mg, (m,label,url) => {
        if(url.match(/^(https:|http:|\/)/)) {
          return m
        }

        const title = decodeURIComponent(url)
        for(let sectionKey in store.measuresList) {
          const measures = store.measuresList[sectionKey]
          for(let m of measures) {
            if(m.title == title) {
              const path = this.$router.resolve({
                name:'measure',
                params: {
                  section:this.$t('sections')[sectionKey].slug,
                  measure: m.slug,
                }
              })
              return `[${label}](${path.href})`
            }
          }
        }
        return label
      })


      const html = marked(raw)
      return html
        .replace(/"#(.*?)"/g, `"${this.$route.path}#\$1"`)
    },
    languageMissing() {
      return store.measureLangMissing
    }
  },
  meta() {
    if(this.measure) {
      return {
        title: [this.measure.title, this.$t('pagename')].join(' • '),
        meta: {
          // description: { name: 'description', content: this.section.name },
          // keywords: { name: 'keywords', content: '' },
        },
      }
    } else {
      return {
        title: this.$t('pagename')
      }
    }
  }
}
</script>
<style lang="scss">

// .header {
//   margin-left: -8%;
//   margin-right: -8%;
// }
.page {
    font-weight: 300;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    overflow-x: hidden;
}


h1 {
  font-size: 2em;
  line-height: 1em;
  font-weight: 500;
  margin-bottom: 0;
  margin-top: 0;
}



// h3 a {
//   opacity: 0;
// }
// h3:hover a {
//   opacity: 1;
// }

// :target:before {
// content:"";
// display:block;
// height:90px; /* fixed header height*/
// margin:-90px 0 0; /* negative fixed header height */
// }

</style>
