<template>
  <div>
    <div :class="isSection ? 'green-bg q-mt-xl q-mb-xl mirrored row justify-center' : 'yellow-bg q-mt-xl q-mb-xl row justify-center'">
      <div class="col-lg-5 col-md-7 col-sm-9 col-xs-10 col-11  q-pl-md">
          <div style="opacity: 0.8" :class="isSection ? 'text-secondary' : 'text-black'"> {{ $t('pagename') }}</div>
          <h6 v-if="$q.screen.lt.lg" class="q-ma-none q-mb-md">{{ section.name }}</h6>
          <h4 v-else class="q-ma-none q-mb-lg">{{ section.name }}</h4>
      </div>
    </div>
    <div class="row justify-center" v-if="sectionText">
      <div v-if="illustration" class="col-xl-4 col-md-3 col-sm-7  col-xs-10 illustration text-center"><img :src="illustration" /></div>
      <div class="col-lg-5 col-md-7 col-sm-9 col-xs-10 col-11 q-px-md content-text q-pb-md" v-html="sectionText" />
    </div>
    <div class="row yellow-bg justify-center" v-if="isSection">
      <div class="col-lg-5 col-md-7 col-sm-9 col-xs-10 col-11 q-pb-md">
        <div class="text-h7 ">{{ section.name }}</div>
        <h4 class="q-mt-none q-mb-sm">{{ $t('section.measures') }}</h4>
      </div>
    </div>
    <div class="row justify-center q-my-md" v-if="isSection">
      <div class="col-lg-5 col-md-7 col-sm-9 col-xs-10 col-11">

        <div v-for="groupName in groups" :key="groupName">
          <h5 v-if="groupName != '-'" class="q-mb-none q-mt-lg">{{ groupName }}</h5>
          <q-list bordered separator>
            <q-item v-for="m of measuresGrouped[groupName]" :key="m.slug" clickable v-ripple :to="{name:'measure', params:{section:section.slug, measure: m.slug}}">
              <q-item-section :class="{workinprogress: !m.substanceDone}">
                <q-item-label>
                  <i v-if="!m.langAvailable">{{ m.title }}</i>
                  <span v-else>{{ m.title }}</span>
                  <i v-if="!m.substanceDone"  class="material-icons q-icon  q-ml-sm">edit
                    <q-tooltip>{{ $t('tags.inProgress') }}</q-tooltip>
                  </i>
                  <i v-if="!m.langAvailable || (m.substanceDone && !m.translationDone)"  class="material-icons q-icon q-ml-sm" style="font-size: 1em;">public
                    <q-tooltip>{{ $t('tags.translationNeeded') }}</q-tooltip>
                  </i>
                </q-item-label>
                <q-item-label caption lines="1">
                    {{ m.teaser }}
                </q-item-label>
              </q-item-section>
            </q-item>

            </q-list>
          </div>

      </div>
    </div>

  </div>
</template>

<script>
// import SupportForm from '../components/SupportForm'
// import Supporters from '../components/Supporters'
import store from '../data/store'
import * as marked from 'marked'
const illustrations = {
    energydemocracy: 'energie.png',
    worapla: 'worapla.png',
    mobility: 'mobility.png',
    erlawa: 'erlawa.png',
    reproko: 'reproko.png',
    glogeint: 'gerechtigkeit.png',
}
export default {
  // components: { SupportForm, Supporters },
  watch: {
    '$route.params': {
      handler(search) {
        store.setSection(this.$route.params.section, this.$route.params.lang)
      },
      deep: true,
      immediate: true
    }
  },
  computed: {
    isSection() {
      return store.sectionKeys.includes(this.sectionKey)
    },
    illustration() {
      if(!illustrations[store.sectionKey]) return null
      return `/statics/illustrations/${illustrations[store.sectionKey]}`
    },
    section() {
      return store.section
    },
    sectionKey() {
      return store.sectionKey
    },
    measuresGrouped() {
      return store.measureListGrouped[store.sectionKey]
    },
    groups() {
      return Object.keys(store.measureListGrouped[store.sectionKey])
    },
    sectionText() {
      // fix anchor links
      // necessary due to the <base>-tag created by quasar
      let raw = store.sectionText
      if(!raw) return ''

      // replace links to other measures
      raw = raw.replace(/\[([\s\S]*?)\]\((.*?)\)/mg, (m,label,url) => {
        if(url.match(/^(https:|http:|\/)/)) {
          return m
        }

        const title = decodeURIComponent(url)
        for(let sectionKey in store.measuresList) {
          const measures = store.measuresList[sectionKey]
          for(let m of measures) {
            if(m.title == title) {
              const path = this.$router.resolve({
                name:'measure',
                params: {
                  section:this.$t('sections')[sectionKey].slug,
                  measure: m.slug,
                }
              })
              return `[${label}](${path.href})`
            }
          }
        }
        return label
      })


      const html = marked(raw)
      return html.replace(/"#(.*?)"/g, `"${this.$route.path}#\$1"`)
    }
  },
  meta() {
    if(this.section) {
      return {
        title: [this.section.name, this.$t('pagename')].join(' • '),
        meta: {
          description: {
            name: 'description',
            content: store.sectionText
                      .slice(0,1000)
                      .replace(/^#+ .*$/mg, '')
                      .replace(/\[(.*?)]\(.*?\)/g, '\$1')
                      .replace(/\\/g, '')
                      .replace(/^\*+/, '')
                      .replace(/\n/mg, ' ')
                      .replace(/__/g, '')
                      .replace(/\*\*/g, '')
                      .replace(/→ /g, '')
                      .replace(/<\/?[^>]+(>|$)/g, "")
                      .trim()
                      .replace(/^- /, '')
                      .slice(0,200)
          },
          keywords: { name: 'keywords', content: 'Klimawandel, Gerechtigkeit, gerechte1komma5' },
          image: { name: 'og:image', content: 'https://klimaplanvonunten.de/'+this.illustration},
          imageTwitter: { name: 'twitter:image', content: 'https://klimaplanvonunten.de/'+this.illustration}

        },
      }
    } else {
      return {
        title: this.$t('pagename')
      }
    }
  }
}
</script>

<style lang="scss" scoped>
.workinprogress {
  opacity: 0.5;
}
h5 {
  font-size: 1em;
}
.illustration {
  img {
    max-width: 80%;
  }
}
</style>

