<template>
  <div>

    <div class="yellow-bg row q-mt-xl justify-center">
      <div class="col-md-4 col-7 text-h5 q-pb-lg" style="display:flex;align-items: center;justify-content:center">
        <div v-html="$t('support.title')" />
      </div>
      <div class="col-3 text-center">
        <img
          src="https://gerechte1komma5.de/wp-content/uploads/elementor/thumbs/Kreis-ob1fh7yn8jnpfpcp7h8vaacghke1bzbxvi1bhhwjaw.png"
          style="margin-top: -4em"
          height="200"
        />
      </div>
    </div>
    <div class="row green-bg justify-center">
      <div class="col-lg-5 col-md-7 col-sm-9 col-xs-10 col-11 q-pb-lg">
        <SupportForm />
      </div>
    </div>
    <div class="row justify-center montserrat">
      <div class="col-lg-7 col-md-8 col-11 row">
        <div class="col-5">
          <h5 class="text-center q-mb-sm">{{ $t('support.donateNow') }}</h5>
          <p class="text-center" v-html="$t('support.text')" />

          <div v-html="$t('support.bankDetails')" />
        </div>
        <div class="col-7 text-center">
          <h5 class="q-mb-none" v-html="$t('support.supporters')" />
          <Supporters dense />

          <div class="text-italic q-mt-md" style="opacity:0.3;font-size:0.9em">
            {{ $t('support.disclaimer')}}
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SupportForm from '../components/SupportForm'
import Supporters from '../components/Supporters'
export default {
  components: { SupportForm, Supporters }
}
</script>
<style lang="scss">
</style>
