<template>
  <div>
    <div class="row justify-center montserrat text-center">
      <div class="col-lg-7 col-md-8 col-11">
        <h5 class="q-mb-none" v-html="$t('support.supporters')" />
        <Supporters hidePersons />

        <div class="text-italic q-mt-md" style="opacity:0.3;font-size:0.9em">
          {{ $t('support.disclaimer')}}
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import SupportForm from '../components/SupportForm'
import Supporters from '../components/Supporters'
export default {
  components: { SupportForm, Supporters }
}
</script>
<style lang="scss">
</style>
