<template>
    <div class="row justify-center">
        <div class="col-12 col-sm-10 col-md-6 col-lg-8 q-px-md">
        <div v-if="isDone" class="text-center">
          <div>{{ $t('support.group.success') }}</div>
          <div class="text-h6 q-mb-md">{{ $t('support.group.thanks') }}</div>
          <q-btn :label="$t('support.group.reset')" no-caps @click="$emit('reset')" color="secondary" class="text-black" />
        </div>
        <q-form
          v-else
          @submit="submit"
        >
          <div class="text-h6">{{ $t('support.someData') }}</div>
          <q-input
            outlined
            v-model="name"
            color="secondary"
            :label="$t('support.group.name')"
            dark
            :rules="[ val => val && val.length > 0 || $t('support.pleaseFill')]"
          />
          <q-input
            outlined
            color="secondary"
            v-model="email"
            :label="$t('support.group.mail')"
            dark
            :rules="[ val => val && val.length > 0 || $t('support.pleaseFill'), isValidEmail]"
          />

          <q-input
            outlined
            v-model="website"
            color="secondary"
            :label="$t('support.group.website')"
            dark
          />
          <q-file
            outlined
            v-model="logo"
            color="secondary"
            :label="$t('support.group.logo')"
            class="q-mt-md"
            accept=".jpg, .svg, .png"
            dark
          />

          <q-checkbox
            v-model="newsletter"
            :label="$t('support.newsletter')"
            color="secondary"
            dark
            class="q-mt-md"
          />

          <q-checkbox
            v-model="support"
            color="secondary"
            dark

          >
            <span v-html="$t('support.group.support')" />
          </q-checkbox>

          <div class="q-mt-md">
            <q-btn :label="$t('prev')" icon="fa fa-angle-left" no-caps @click="$emit('back')" flat class="q-mr-md" :disable="isLoading"/>
            <q-btn :label="$t('next')" type="submit" no-caps color="secondary" class="text-black" :disable="!support" :loading="isLoading" />
          </div>
        </q-form>
      </div>
    </div>
</template>

<script>
import axios from 'axios'
import store from '../../data/store'
const toBase64 = file => new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = error => reject(error);
});

export default {
  // props: ['sections'],
  data() {
    return {
      name: '',
      email: '',
      support: false,
      newsletter: false,
      logo: null,
      website: null,
      isLoading: false,
      isDone: false
    }
  },
  methods: {
    async submit() {
      this.isLoading = true
      try {
        const file = this.logo ? await toBase64(this.logo) : null
        const res = await axios.post('/api/support/groups', {
          name: this.name,
          email: this.email,
          newsletter: this.newsletter,
          website: this.website,
          // sections: this.sections,
          logo: file,
        })
        this.isDone = true
      } catch(err) {
        console.error(err)
        this.$q.notify({
          message: 'unknown error: '+err.message,
          color: 'red'
        })
      }
      this.isLoading = false
      store.loadSupporters()

    },
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || this.$t('support.invalidMail');
    }
  }
}
</script>

<style>

</style>
