<template>
    <div class="row justify-center">
        <div class="col-12 col-sm-10 col-md-6 col-lg-8 q-px-md">
        <div v-if="isDone" class="text-center">
          <div>{{ $t('support.person.success') }}</div>
          <div class="text-h6 q-mb-md">{{ $t('support.person.thanks') }}</div>
          <q-btn :label="$t('support.person.reset')" no-caps @click="$emit('reset')" color="secondary" class="text-black" />
        </div>
        <q-form
          v-else
          @submit="submit"
        >
          <div class="text-h6">{{ $t('support.someData') }}</div>
          <q-input
            outlined
            v-model="firstname"
            color="secondary"
            :label="$t('support.person.firstname')"
            dark
            :rules="[ val => val && val.length > 0 || $t('pleaseFill')]"
          />
          <q-input
            outlined
            v-model="lastname"
            color="secondary"
            :label="$t('support.person.lastname')"
            dark
            :rules="[ val => val && val.length > 0 || $t('pleaseFill')]"
          />
          <q-input
            outlined
            color="secondary"
            v-model="email"
            :label="$t('support.person.mail')"
            dark
            :rules="[ val => val && val.length > 0 || $t('pleaseFill'), isValidEmail]"
          />

          <q-checkbox v-model="visible" color="secondary" dark>
            {{ $t('support.person.public') }}
          </q-checkbox>

          <q-checkbox v-model="newsletter" :label="$t('support.newsletter') " color="secondary" dark />
          <q-checkbox v-model="moreInfos" :label="$t('support.person.moreInfos')" color="secondary" dark />

          <div class="q-mt-md">
            <q-btn :label="$t('prev')" icon="fa fa-angle-left" no-caps @click="$emit('back')" flat class="q-mr-md" :disable="isLoading"/>
            <q-btn :label="$t('submit')" type="submit" no-caps color="secondary" class="text-black"  :loading="isLoading" />
          </div>
        </q-form>
      </div>
    </div>
</template>

<script>
import axios from 'axios'
import store from '../../data/store'
const toBase64 = file => new Promise((resolve, reject) => {
    const reader = new FileReader();
    reader.readAsDataURL(file);
    reader.onload = () => resolve(reader.result);
    reader.onerror = error => reject(error);
});

export default {
  // props: ['sections'],
  data() {
    return {
      firstname: '',
      lastname: '',
      email: '',
      visible: false,
      newsletter: false,
      moreInfos: false,
      isLoading: false,
      isDone: false
    }
  },
  methods: {
    async submit() {
      this.isLoading = true
      try {
        const res = await axios.post('/api/support/persons', {
          firstname: this.firstname,
          lastname: this.lastname,
          email: this.email,
          newsletter: this.newsletter,
          public: this.visible,
          moreInfos: this.moreInfos,
          // sections: this.sections,
        })
        this.isDone = true
      } catch(err) {
        console.error(err)
        this.$q.notify({
          message: 'unknown error: '+err.message,
          color: 'red'
        })
      }
      this.isLoading = false
      store.loadSupporters()
    },
    isValidEmail (val) {
      const emailPattern = /^(?=[a-zA-Z0-9@._%+-]{6,254}$)[a-zA-Z0-9._%+-]{1,64}@(?:[a-zA-Z0-9-]{1,63}\.){1,8}[a-zA-Z]{2,63}$/;
      return emailPattern.test(val) || this.$t('invalidMail');
    }
  }
}
</script>

<style>

</style>
