<template>
  <div class="row justify-center">
    <div class="col-12 q-mb-md text-h6 text-center">
      {{ $t(type == 'person' ? 'support.person.sectionQuestion' : 'support.group.sectionQuestion') }}
    </div>
    <div class="col-6">
      <div>
          <q-radio v-model="allSections" :val="true" color="secondary" dark>
            <span v-html="$t('support.fullPlan')" />
          </q-radio>
      </div>
      <div>
          <q-radio v-model="allSections" :val="false" color="secondary" dark>
            {{ $t('support.partialPlan') }}
          </q-radio>
      </div>
      <div class="q-ml-lg">
        <div
            v-for="(section, sectionKey) in sections"
            :key="sectionKey"
        >
          <q-checkbox
            :disabled="allSections"
            :label="section.name"
            :value="selected.indexOf(sectionKey) != -1"
            @input="toggle(sectionKey)"
            color="secondary"
            dark
          />
        </div>
      </div>
    </div>
    <div class="col-12 q-mt-md text-center">
        <q-btn :label="$t('prev')" icon="fa fa-angle-left" no-caps @click="$emit('back')" flat class="q-mr-md" />
        <q-btn :label="$t('next')" icon-right="fa fa-angle-right" no-caps @click="next" color="secondary" class="text-black" :disable="!allSections && !selected.length" />
    </div>
  </div>
</template>

<script>
import store from '../../data/store'
export default {
  props: ['type'],
  data() {
    return {
      allSections: true,
      selected: []
    }
  },
  computed: {
    sections() {
      return store.sections
    }
  },
  methods: {
    toggle(key) {
      if(this.selected.includes(key)) {
        let index = this.selected.indexOf(key)
        this.selected.splice(index, 1)
      } else {
        this.selected.push(key)
      }
    },
    next() {
      if(this.allSections) {
        this.$emit('sectionsSelect', {
          sections: Object.keys(this.sections)
        })
      } else {
        this.$emit('sectionsSelect', {
          sections: this.selected
        })
      }
    }
  }
}
</script>

<style>

</style>
