<template>
  <div class="row justify-center text-center">
    <div
      class="col-12 q-mb-md text-h6"
      v-html="$t('support.in.question')"
    />
    <div class="col-12">
        <q-btn :label="$t('support.in.person')" color="secondary" class="text-black q-mr-sm" no-caps size="lg" @click="$emit('typeSelect', {type:'person'})"/>
        <q-btn :label="$t('support.in.group')" color="secondary" class="text-black" no-caps size="lg" @click="$emit('typeSelect', {type:'group'})" />
    </div>
    <div class="col-12 q-mt-md">
        <q-btn :label="$t('support.in.nope')" no-caps outline @click="openDisagreeDialog" />
    </div>
  </div>
</template>

<script>
export default {
  methods: {
    openDisagreeDialog() {
      this.$q.dialog({
        title: this.$t('support.in.nopeTitle'),
        message: this.$t('support.in.nopeText'),
        html: true
      })
    }
  }
}
</script>

<style>

</style>
