<!DOCTYPE html>
<html>
  <head>
    <title>Der Klimaplan von Unten - gerechte1komma5</title>

    <meta charset="utf-8">
    <meta name="description" content="Da die Regierung scheitert, Maßnahmen zu ergreifen, die der globalen Klimakrise angemessen sind, muss die Gesellschaft handeln.Gemeinsam erarbeiten wir einen Klimaplan, in dem realistische Maßnahmen zusammengefasst werden, die notwendig sind, um die Erderwärmung auf unter 1,5° C zu begrenzen.">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1, width=device-width<% if (htmlWebpackPlugin.options.ctx.mode.cordova || htmlWebpackPlugin.options.ctx.mode.capacitor) { %>, viewport-fit=cover<% } %>">

    <link rel="icon" type="image/png" href="/statics/logo.png">
    <link rel="icon" type="image/png" sizes="16x16" href="statics/icons/favicon-16x16.png">
    <link rel="icon" type="image/png" sizes="32x32" href="statics/icons/favicon-32x32.png">
    <!-- <link rel="icon" type="image/png" sizes="96x96" href="statics/icons/favicon-96x96.png"> -->
    <link rel="icon" type="image/ico" href="statics/icons/favicon.ico">
  </head>
  <body>
    <noscript>
      <div class="q-banner row items-center text-white bg-red"><div class="q-banner__avatar col-auto row items-center"></div><div class="q-banner__content col text-body2">
        Hey, richtig cool, dass du <b>Javascript blockierst</b> und damit zum Schutz deiner Privatsphäre beiträgst!<br>
        Leider funktioniert diese Seite ohne aber nur begrenzt.
      </div></div>

    </noscript>

    <!-- DO NOT touch the following DIV -->
    <div id="q-app"></div>
  </body>
</html>
