<template>
  <div>
    <h6 class="header q-px-sm q-mt-xl q-mb-none row">
      <div class="col">
        {{ $t('measure.comments') }}
        <span v-if="comments.length" class="text-caption text-grey">({{ comments.length }})</span>
      </div>
      <div class="col-2 text-right">
        <div class="q-mr-xl">
          <q-btn icon="comment" class="bg-yellow" size="sm" flat rounded type="a" :href="wikiUrl">
            <q-tooltip>
              {{ $t('measure.commentWrite') }}
            </q-tooltip>
          </q-btn>
        </div>
      </div>
    </h6>
    <div v-if="isLoading" class="q-ma-md">
      ...
    </div>
    <div v-else-if="!comments.length" class="q-px-sm body text-italic text-grey">
      {{ $t('measure.noComments') }}
    </div>
    <q-list v-if="!isLoading" separator>
      <Comment v-for="c of comments" :key="c.id" :comment="c" />
    </q-list>
  </div>
</template>
<script>
import store from "../data/store";
import Comment from './Comment'
export default {
  components: { Comment },
  computed: {
    isLoading() {
      return store.measureComments === null
    },
    comments() {
      if(!store.measure) return []
      if(!store.measureComments) return []
      else return store.measureComments.map(c => {
        c.createdAt = new Date(c.createdAt)
        return c
      })
    },
    wikiUrl() {
      return `https://wiki.gerechte1komma5.de${store.measureLang.link}`
    }
  }
}
</script>
<style lang="scss" scoped>

</style>
