<template>
  <q-item class="comment">
    <q-item-section>
      <q-item-label caption>
        <b>{{ comment.userName }}</b>
        <span v-if="parent">
          @ {{ parent.userName }}
        </span>

      </q-item-label>
      <q-item-label>
        <div class="body" v-html="html" />
      </q-item-label>
    </q-item-section>
  </q-item>
</template>

<script>

import * as marked from 'marked'
import store from '../data/store'
export default {
  props: ['comment'],
  computed: {
    html() {
      return marked(this.comment.data, {
        breaks: true
      })
    },
    parent() {
      if(!this.comment.parentId) return null
      for(let c of store.measureComments) {
        if(c.id == this.comment.parentId) {
          return c
        }
      }
      return null
    }
  }
}
</script>
<style lang="scss">
.body {
  font-size: 90%;
  p {
    margin-bottom: 0.5em;
  }
  blockquote {
    font-style: italic;
    margin: 0.2em 0.5em 0 1em;
  }
  ul {
    padding-left: 0;
  }
}
</style>
