<template>
    <q-btn-dropdown stretch flat no-caps :label="$t('language')" :dense="$q.screen.lt.md">
      <q-list>
        <q-item v-for="l in languages" :key="l.locale" clickable :to="l.link" v-close-popup>
          <q-item-section>
            <q-item-label>{{ l.name }}</q-item-label>
          </q-item-section>
        </q-item>

      </q-list>
    </q-btn-dropdown>
</template>
<script>
import languages from '../i18n/index'
import store from '../data/store'


export default {
  computed: {
    languages() {
      return Object.keys(languages).map(key => {
        if(this.$route.name == 'measure' && store.measure) {
          let measure = store.measure
          let ml = measure.lang[key] || measure.lang['en'] || measure.lang['de']
          return {
            name: languages[key].language,
            link: {
              name: 'measure',
              params: {
                section: languages[key].sections[store.sectionKey].slug,
                measure: ml.slug,
                lang: key,
              }
            }
          }
        } else if(this.$route.name == 'section' && store.section) {
          return {
            name: languages[key].language,
            link: {
              name: 'section',
              params: {
                section: languages[key].sections[store.sectionKey]?.slug,
                lang: key
              }
            }
          }
        } else {
          return {
            name: languages[key].language,
            link: {
              name: this.$route.name,
              params: {
                lang: key
              }
            }
          }
        }

      })

    }
  }
}
</script>
