<template>
  <q-expansion-item
    group="somegroup"
    header-class="text-bold"
    :default-opened="defaultOpen"
    expand-separator
    expand-icon-toggle
    expand-icon-class="text-primary"
    active-class="text-primary"
  >
    <template v-slot:header>
      <div class="q-item__section column q-item__section--main justify-center">
        <router-link :to="{name:'section', params: {section: slug}}" class="section-link" v-close-popup> {{ name }}</router-link>
      </div>
    </template>
    <q-list dense separator>
      <div v-if="!groups.length" class="q-px-md q-py-sm">
        <i>{{ $t('menu.noMeasures') }}</i>
      </div>
      <template v-for="groupName of groups">
        <div :key="groupName" v-if="groupName !== '-'" class="q-item__label q-item__label--header text-bold q-pb-sm q-pt-md">{{ groupName }}</div>
        <!-- HTML output of QItem. as plain HTML for a perfomance gain -->
        <router-link
          v-for="m of measures[groupName]"
          :key="m.slug"
          :to="{name:'measure', params: {section: slug, measure: m.slug}}"
          class="q-item q-item-type row no-wrap q-item--clickable q-link cursor-pointer q-focusable q-hoverable" tabindex="0"
          v-close-popup>
          <div tabindex="-1" class="q-focus-helper"></div>
          <div class="q-item__section column q-ml-md q-item__section--main justify-center">
            <div  :class="{workinprogress: !m.substanceDone, languagemissing: !m.langAvailable}">
              {{ m.title }}
            </div>
          </div>
          <div class="q-item__section column q-item__section--side justify-center">
            <div :class="{workinprogress: !m.substanceDone}">

              <i v-if="!m.substanceDone"  class="material-icons q-icon" style="font-size: 1.5em;">edit
                <q-tooltip>{{ $t('tags.inProgress') }}</q-tooltip>
              </i>
              <i v-if="!m.langAvailable || (m.substanceDone && !m.translationDone)"  class="material-icons q-icon" style="font-size: 1.5em;">public
                <q-tooltip>{{ $t('tags.translationNeeded') }}</q-tooltip>
              </i>
            </div>
          </div>
        </router-link>
      </template>
    </q-list>
  </q-expansion-item>
</template>

<script>
import store from '../data/store'
export default {
  props: ['section', 'name', 'slug', 'measures'],
  computed: {
    defaultOpen() {
      return this.section == store.sectionKey
    },
    groups() {
      return Object.keys(this.measures).sort()
    },
  }
}
</script>
<style lang="scss" scoped>
.workinprogress {
  opacity: 0.5;
}
.languagemissing {
  font-style: italic;
}
.section-link {
  text-decoration: none;
  font-weight: 400;
}
</style>

<style lang="scss">
.q-menu .router-link-active {
  // color: #00a350;
  font-weight: bold;
}
</style>
