<template>
  <q-list bordered style="max-width: 500px">
    <div class="q-item q-item-type row no-wrap">
      <div class="q-item__section column q-item__section--main justify-center">
        <router-link :to="{name:'start'}" v-close-popup class="no-section no-active-link">
          {{ $t('startpage') }}
        </router-link>
      </div>
    </div>
    <div class="q-item q-item-type row no-wrap">
      <div class="q-item__section column q-item__section--main justify-center">
        <router-link :to="{name:'section', params: {section: $t('sections.preface.slug')}}" v-close-popup class="no-section">
          {{ $t('sections.preface.name') }}
        </router-link>
      </div>
    </div>

    <MenuSection v-for="key in keys" :key="key" :section="key" :name="sections[key].name" :slug="sections[key].slug" :measures="measures[key]"/>

    <div class="q-item q-item-type row no-wrap">
      <div class="q-item__section column q-item__section--main justify-center">
        <router-link :to="{name:'section', params: {section: $t('sections.epilogue.slug')}}" v-close-popup class="no-section">
          {{ $t('sections.epilogue.name') }}
        </router-link>
      </div>
    </div>

  </q-list>
</template>
<script>
import MenuSection from "./MenuSection";
import store from '../data/store'

export default {
  components: { MenuSection },
  computed: {
    keys() {
      return store.sectionKeys
    },
    sections() {
      return store.sections
    },
    measures() {
      return store.measureListGrouped
      // return Object.keys(sections)
    }
  }
}
</script>
<style lang="scss">
.no-section {
  text-decoration: none;
  // color: #555;
  font-style: italic;
  opacity: 0.9;
}
.router-link-exact-active, .router-link-active {
  font-weight: bold !important;
}
.no-active-link {
  font-weight: normal !important;
}
</style>
