<template>
  <div v-if="isLoading">
    <q-spinner-hourglass size="xl" />
  </div>
  <div v-else :class="dense || dense==='' ? 'dense' : ''">
    <div
      v-for="group of groups"
      :key="group.name"
      class="group"
    >
      <a v-if="group.logo" :href="getUrl(group.website)" target="_blank">
        <img :src="`data:image/png;base64,${group.logo}`" :alt="group.name" :height="dense || dense==='' ? 50 : 90" />
        <q-tooltip>{{ group.name }}</q-tooltip>
      </a>
     <a v-else :href="getUrl(group.website)" target="_blank" class="supporter-nologo">
        {{ group.name }}
      </a>

    </div>
    <div class="row justify-center q-mt-md">
      <!-- <div class="col-12">
        <h6 class="q-my-sm">{{ $t('support.persons') }}</h6>
      </div> -->
      <div class="col-11 row persons">
        <div :class="dense || dense === '' ? 'col-6' : 'col-md-3 col-6 text-left'" v-for="name in persons" :key="name">{{name}}</div>

      </div>
    </div>
  </div>

</template>

<script>
import store from '../data/store'
export default {
  props: ['section', 'dense', 'hidePersons'],
  created() {
    if(!store.supporters) store.loadSupporters()
  },
  methods: {
    getUrl(website) {
      if(!website) return ''
      if(website.match(/^(http|https):\/\//)) return website
      return 'http://'+website
    }
  },
  computed: {
    isLoading() {
      return store.supportersLoading || !store.supporters
    },
    groups() {
      if(!store.supporters) return []
      return store.supporters.groups
        .filter(g => this.section ? g.sections.includes(this.section) : true)
        .sort((a,b) => a.name.localeCompare(b.name))
    },
    persons() {
      if(!store.supporters) return []
      return store.supporters.persons.sort((a,b) => a.localeCompare(b))
    }
  }
}
</script>

<style lang="scss" scoped>
.group {
  display: inline-flex;
  height: 92px;
  width: 150px;
  vertical-align: middle;
  // border: 1px dotted #ddd;
  margin: 0.2em;
}
.supporter-nologo {
  color: black;
  font-weight: 800;
  text-decoration: none;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.dense .group {
  height: 52px;
  width: 83px;
  font-size: 0.5em;
}
.dense .persons {
  font-size: 0.8em;
}
</style>
