<template>
  <div>
    <transition name="fade"  mode="out-in">
      <component
        v-bind:is="view"
        @back="reset"
        @reset="reset"
        @typeSelect="onTypeSelect"
        @sectionsSelect="onSectionsSelected"
        :type="type"
      />
    </transition>
  </div>
</template>

<script>
import TypeSelect from "./support/TypeSelect"
// import SectionsSelect from "./support/SectionsSelect"
import GroupForm from "./support/GroupForm"
import PersonForm from "./support/PersonForm"


export default {
  components: { TypeSelect, GroupForm, PersonForm },
  data() {
    return {
      view: 'TypeSelect',
      type: null,
      // sections: []
    }
  },
  methods: {
    onTypeSelect(e) {
      this.type = e.type
      if(this.type == 'group') {
        this.view = 'GroupForm'
      } else {
        this.view = 'PersonForm'
      }

    },
    reset() {
      this.view = 'TypeSelect'
    }
  }
}
</script>

<style>
.fade-enter-active, .fade-leave-active {
  transition: opacity .3s ease;
}
.fade-enter, .fade-leave-to
/* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
</style>
