<template>
  <div class="q-mt-sm toc">
<!-- <div class="toc">
  <ul class="nav">
  <li v-for="h of headings"
      :key="h.title">
      <a href="#1-Last-week-review" title="1. Last week review" smoothhashscroll="">{{ h.name }}</a>
    </li>
  </ul>
</div> -->
    <q-item
      v-for="(h, index) in headings"
      :key="h.title"
      clickable
      tag="a"
      :href="`${path}#${index !== 0 ? h.hash : ''}`"
      dense
      :class="{active: index == activeIndex}"
      >
      <q-item-section>
        <q-item-label class="ellipsis q-pr-md" :style="{paddingLeft: h.depth*20}">
          {{ h.name }}
          </q-item-label>
      </q-item-section>
    </q-item>
  </div>
</template>
<script>
import * as marked from 'marked'
import store from '../data/store'


export default {
  data() {
    return {
      activeIndex: 0
    }
  },
  computed: {
    path() {
      return this.$route.path
    },
    measureBody() {
      return store.measureBody
    },
    headings() {
      const markdown = this.measureBody
      if(!markdown) return []

      const headings = marked.lexer(this.measureBody).filter(t => t.type == 'heading')
      const slugger = new marked.Slugger
      let lowest = 10
      for(let head of headings) {
        if(head.depth < lowest) lowest = head.depth
      }
      return headings.map(h => ({
        name: h.text,
        hash: slugger.slug(h.text),
        depth: h.depth-lowest,
      }))
    }
  },
  methods: {
    onScroll() {
      let index = 0
      for(let heading of this.headings) {
        let i = index++
        let el = document.getElementById(heading.hash)
        if(!el) continue
        if(el.getBoundingClientRect().top > 100) {
          this.activeIndex = Math.max(i-1,0)
          return
        }
      }
    },
  },
  mounted() {
    if(window) window.addEventListener('scroll', this.onScroll, false);
  },
  destroyed() {
    if(window) window.removeEventListener('scroll', this.onScroll);
  }
}
</script>
<style lang="scss">
.toc .q-item {
  margin-left: 2px;
  opacity: 0.5;
}
.toc .q-item.active {
  opacity: 1;
  margin-left: 0px;
  border-left: 2px solid #555;
}
</style>
