// app global css in SCSS form
@import "./fonts/montserrat.scss";

// define variables already here, so it is included in the
// server side rendered response.
// the initial rendering would otherwise be blueish
:root {
  --q-color-primary:
#00a350;
--q-color-secondary:
#fff600;
}


body {
  // this hides the corners of the titled background colors
  overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, .text-h1, .text-h2, .text-h3, .text-h4, .text-h5, .text-h6 {
  font-family: Montserrat, "Roboto", "-apple-system", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
a {
  color: #00a350;
}
.montserrat {
  font-family: Montserrat;
}
.monospace {
  font-family: monospace;
}

.yellow-bg, .green-bg {

  position: relative;
  padding-top: 3%;
  padding-bottom: 0%;
}
.yellow-bg::before, .green-bg::before {
  content: '';
  display: block;
  position: absolute;
  height: 105%;
  width: 130%;
  margin-left: -10%;
  margin-top: -3%;
  z-index: -1;
  transform: rotate(1deg);
}

.yellow-bg.mirrored::before, .green-bg.mirrored::before {
  transform: rotate(-1deg);
}

.yellow-bg::before {
    background-color: #fff733;
}
.green-bg::before {
    background-color: #00a350;
}
.green-bg {
  color: #fff733;
}
.bg-none {
  background: none;
}



.content-text {
  p {
    line-height: 1.4rem;
    letter-spacing: 0.02em;
    text-align: justify;
  }

  img {
    max-width: 80%;
    display: block;
  }
  h2,h3,h4,h5 {
    font-size: 1.5rem;
    line-height: 1.5rem;
    padding: 0.5rem 0;
    font-weight: 300;
    color: #00a350;
    // border-bottom: 1px dotted #00a350;
      border-bottom: 1px solid #eee;
    margin: 1rem 0 1rem;
    font-weight: 500;
  }
  // h2::before, h3::before {
  //   content: ' ';
  //   background-color: #fff600;
  //   width: 0.3em ;
  //   height: 0.3em;
  //   margin: 0.1em;
  //   margin-right: 0.4em;
  //   display: inline-block;
  // }
  h3 {
    font-size: 1.3rem;
  }
  h4,h5 {
    font-size: 1.2rem;
  }
  a.ref {
    text-decoration: none;
  }

  // https://css-tricks.com/snippets/css/prevent-superscripts-and-subscripts-from-affecting-line-height/
  sup, sub {
    vertical-align: baseline;
    position: relative;
    top: -0.4em;
  }
  sub {
    top: 0.4em;
  }
}
.footnotes {
    opacity: 0.7;
    font-size: 0.8em;
    ol {
      padding-left: 20px;
    }
    li {
      margin-bottom: 0.3em;
    }
    li:target {
      background-color: rgba(0,0,0,0.08);
    }
}

.content-text.dark {
  h1,h2,h3,h4,h5 {
    color: #fff600;
    border-color: rgba(0,0,0,0.2);
  }
  a {
    color: #fff633;
  }
  .footnotes li:target {
    background-color: rgba(255,255,255,0.2);
  }
}

